@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
   position: static !important;
   margin-top: 0px !important;
}

.swiper-pagination-bullet {
   background: rgb(148 163 184) !important;
   opacity: 1;
   width: 10px;
   height: 10px;
}

.swiper-pagination-bullet-active {
   background: rgb(52 211 153) !important;
}